# Python artifacts
__pycache__/
*.py[cod]
*$py.class
venv/
env/
.env
python/



# Binary Tools (Too large for Git)
bin/ffmpeg.exe
bin/ffprobe.exe
bin/HandBrakeCLI.exe

# Output Folders
processed_output/
*.mp4
*.mkv
*.mov

# Logs and Temp files
*.log
*.tmp
temp_work/

# IDE settings
.vscode/
.idea/


Start_App-test.bat
ViralClipperAI.spec
debug.bat
workflow-rough.md
